<% if logged_in? %>
  <div class="col-sm-8">
    <%= render 'tasks/tasks', tasks: @tasks %>
  </div>
  
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to task management system</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>